# version: '3.8'

services:
  greetapp:
    build: .
    # ports:
    #   - "8080:8080"
    env_file:
     - .env

    depends_on:
      - redis
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.25'
          memory: 128M
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s

  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 128M
  
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    depends_on:
      - greetapp
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
  

volumes:
  redisdata: